@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css);

body {
background-image: linear-gradient(rgb(248, 214, 220),rgb(138, 212, 212),white);
height:600px;
}
.some{
    width: 100px;
   height: 100px;
   background-color: aqua;
   color:red;
}
.style{
   font-family: fantasy;
}
.color{
    color:palevioletred;
    /* position: relative;
    top:130px; */
}
.center{
    width: 300px;
    /* position: relative;
    top: 150px;
    left:450px; */
}
.center1{
    position:relative;
    top: 33px;
    left:-120px;
    font-size: larger;
}
.center2{
  
     position: relative;
    top: 33px;
    left:-150px; 
    font-size: larger;
}
.center3{
   
    position: relative;
    top: 33px;
    left:-125px;
    font-size: larger;
}
hr{
    border: 2px solid black;
    
}
.box{
    background-color: aqua;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    border:2px solid black;
    border: 2px solid black;
}
.smallbox{
    margin:30px;
    height:30px;
    width:auto;
    background-color: pink;
    color:black;
    border-radius: 10px;
    border: 2px solid red;
}
.hand{
    display:block;
}
.hand1{
    display: none;
}